<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="/static/css/normalize.css">    
<link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    

<header>
    
<div class="main-navbar">
    <img src="/static/images/logo-mercado-liebre.svg" alt="aquí va el logo">
    <input type="search" placeholder="Buscar productos, marcas">
    <h2><i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i></h2>
</div>
    
<nav class="main-options">
        <ul class="opciones-izquierda">
            <li><a href="#">ofertas</a></li>
            <li><a href="#">tiendas oficiales</a></li>
            <li><a href="#">vender</a></li>
            <li><a href="#">ayuda</a></li>
        </ul>

        <ul class="opciones-derecha">
                <li><a href="#"><i class="far fa-id-card"> Creá tu cuenta</i></a></li>
                <li><a href="#"><i class="fas fa-sign-in-alt"> Ingresá</i></a></li>
                <li><a href="#"><i class="fas fa-shopping-basket"> Mis compras</i></a></li>
        </ul>  
    
</nav>

<a href="#"><div class="burger-menu">
        <i class="fas fa-bars"></i>
 </div></a>

 <img class= "banner" src="/static/images/img-home-banner.jpg" alt="">
    </header>

    <main class="contenedor">
            <section class="titulares"><strong>Basado en tu última visita</strong></section>
    <div class="ultima-vista">
        
    <div class="producto">
        <img src="/static/images/img-cafetera-moulinex.jpg" alt="cafetera" width="20%">
        <i class="fas fa-truck"></i>
    <div class="fullprice">
        <p class="precios">$6.770</p>
        <p class="descuentos">40% OFF</p>
    </div>
        <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
    </div>

    <div class="producto">
        <img src="/static/images/img-macbook-pro-2019.jpg" alt="MacBook" width="20%">
        <i class="fas fa-truck"></i>
    <div class="fullprice">   
        <p class="precios">$230.000</p>
        <p class="descuentos">20% OFF</p>
    </div>
        <p class="descripciones"><strong>MacBook pro 2019</strong></p>
    </div>

    <div class="producto">
        <img src="/static/images/img-samsung-galaxy-s10.jpg" alt="Samsung" width="20%">
        <i class="fas fa-truck"></i>
    <div class="fullprice">    
        <p class="precios">$70.500</p>
        <p class="descuentos">10% OFF</p>
    </div>
        <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
    </div>

    <div class="producto">
        <img src="/static/images/img-tv-samsung-smart.jpg" alt="tv Samsung" width="20%">
        <i class="fas fa-truck"></i>
    <div class="fullprice">
        <p class="precios">$23.200</p>
        <p class="descuentos">5% OFF</p>
    </div>
        <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
    </div>
</div>


<section class="titulares"><strong>Sección ofertas</strong></section>
<div class="ofertas">
        
        <div class="producto">
                <img src="/static/images/img-cafetera-moulinex.jpg" alt="cafetera" width="20%">
                <i class="fas fa-truck"></i>
            <div class="fullprice">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
            </div>
                <p class="descripciones"><strong>Cafetera Moulinex</strong></p>
            </div>
        
            <div class="producto">
                <img src="/static/images/img-macbook-pro-2019.jpg" alt="MacBook" width="20%">
                <i class="fas fa-truck"></i>
            <div class="fullprice">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
            </div>
                <p class="descripciones"><strong>MacBook pro 2019</strong></p>
            </div>
        
            <div class="producto">
                <img src="/static/images/img-samsung-galaxy-s10.jpg" alt="Samsung" width="20%">
                <i class="fas fa-truck"></i>
            <div class="fullprice">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
            </div>
                <p class="descripciones"><strong>Samsung Galaxy S10</strong></p>
            </div>
        
            <div class="producto">
                <img src="/static/images/img-tv-samsung-smart.jpg" alt="tv Samsung" width="20%">
                <i class="fas fa-truck"></i>
            <div class="fullprice">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% OFF</p>
            </div>
                <p class="descripciones"><strong>SmartTv Samsung 43"</strong></p>
            </div>
        </div>
    </main>

    <footer>
        <div>
            <i class="far fa-credit-card"></i>
        <p class="anuncio">
            <strong>Pagá con tarjeta o en efectivo</strong> 
        </p>
        <article>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </article>
    </div>
    <div>
        <i class="fas fa-gift"></i>
        <p class="anuncio">
            <strong>Envío gratis desde $ 2.500</strong>
        </p>
        <article>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</article>
    </div>
    <div>
            <i class="fas fa-user-shield"></i>
        
            <p class="anuncio">
                <strong>Seguridad, de principio a fin</strong>
            </p>
        <article>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</article>
    </div>
        
        <section class="copyright"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></section>
    
    </footer>
    
</body>
</html>