<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="/static/css/normalize.css">    
<link rel="stylesheet" href="/static/css/registro.css">
<title>Registro</title>
</head>
<body class="register">
    <form action="/" method="GET" class="formulario">
    <div class="nombreyapellido">
        <label for="nombreyapellido">Nombre y Apellido</label>
        <input type="text" name="nombreyapellido" id="nombreyapellido" placeholder="nombre/s y apellido/s" minlength="4" required>
    </div>
    <br>
    <div class="usuario">
            <label for="usuario">Nombre de usuario</label>
            <input type="text" name="usuario" id="usuario" placeholder="nombre de usuari@" minlength="4" required>
        </div>
        <br>
        <div class="fechadenacimiento">
                <label for="fechadenacimiento">Fecha de nacimiento</label>
                <input type="date" name="fechadenacimiento" id="fechadenacimiento">
            </div>
            <br>
            <div class="Domicilio">
                    <label for="Domicilio">Domicilio</label>
                    <input type="text" name="Domicilio" id="Domicilio" placeholder="Escribe tu direccion" minlength="4" required>
                </div>
                <br>
                <div class="tipousuario">
                        <label for="tipousuario">Vendés o comprás?</label> 
                        <br>
                        <input type="radio" name="tipousuario" id="tipousuario" value="vendedor" class="radio" required> vendedor
                        <br>
                        <input type="radio" name="tipousuario" id="tipousuario" value="comprador" class="radio" required> comprador
                    </div>
                    <br>
                    <div class="categorias">
                            <label for="categorias">Categorías</label>
                            <select name="categorias" id="categorias" required>
                            <option value="Electro" selected>Electro</option>
                            <option value="Moda">Moda</option>
                            <option value="Hogar">Hogar</option>
                            <option value="Jugueteria">Juguetería</option>
                            <option value="VidaSana">Vida Sana</option>
                        </select>
                        </div>
                        <br>
                        <div class="foto">
                                <label for="foto">Sube tu Foto</label>
                                <input type="file" name="foto" id="foto">
                            </div>
                            <br>
                            <div class="password">
                                    <label for="password">Escribe tu contraseña</label>
                                    <input type="password" name="password" id="password" minlength="8" placeholder="mínimo 8 caracteres" required>
                                        <label for="password">Confirmar contraseña</label>
                                        <input type="password" name="password" id="password" maxlength="8" placeholder="     :)" required>
                                    </div>
                               <br>
                            <div class="email">
                                <label for="email">Correo electrónico</label>
                                <input type="email" name="email" id="email" placeholder="algo@algo.com" required>
                            </div>
                              
                            <br>

                            <div class="checkbox">
                                <label>
                                <input type="checkbox" name="checkbox" value="Fortnite">
                                  jugar al Fortnite
                                </label>
                                <label>
                                    <input type="checkbox" name="checkbox" value="pesas">
                                      hacer pesas
                                    </label>
                                    <label>
                                        <input type="checkbox" name="checkbox" value="Beni">
                                          jugar con Beni
                                        </label>
                            </div>

                               <br>
                                    <!-- enlace para volver -->
                                    <a class="enlace" href="/">Volver a la home</a>
                               <br>
                                     <!-- botón enviar para regresar y borrar para limpiar formulario -->
                                <div class="acciones">
                                    <button type="submit" class="enviar">Enviar</button>
                                    <button type="reset" class="borrar">Borrar</button> 
                                </div>                                   
                                
                                <br>
                                
                               <br>
                                    <!-- botón para volver a la página anterior visitada -->
                                    <input class="volver" type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
                               <br>
                               <br>
                               
                               <!-- campo para comentarios con botones de enviar/borrar y un máximo de caracteres de 250-->
                        <div class="comentarios">
                        <form action="/contact" method="GET">
                            <textarea name="comentario" id="comentario" cols="30" rows="10" maxlength="250"></textarea>
                            <button type="reset">Borrar</button>
                            <button type="submit">Enviar</button>
                        </form>
                    </form>
                    </div>
                            
</body>
</html>